<ul>
  <li ng-repeat="task in tasks"
    ng-class="{'checked': task.checked, 'private': task.private}">
    <button class="delete" ng-if="task.owner === $auth.currentUser._id" ng-click="deleteTask(task)">&times;</button>

    <input type="checkbox" ng-checked="task.checked"
         ng-click="setChecked(task)" class="toggle-checked" />
    
    <button class="toggle-private"
          ng-if="task.owner === $auth.currentUser._id"
          ng-click="setPrivate(task)">
      {{task.private == true ? "Private" : "Public"}}
    </button>

    <span class="text">
      <strong>{{task.username}}</strong> - {{task.text}}
    </span>

  </li>
</ul>